@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-mulish: 'Mulish', sans-serif;
    --font-museoModerno: 'MuseoModerno', sans-serif;

    --color-grayscale-100: #202532;
    --color-grayscale-80: #50545E;
    --color-grayscale-60: #838791;
    --color-grayscale-40: #BEC0C5;
    --color-grayscale-10: #D9DADD;
    --color-grayscale-5: #EAEAEB;
    --color-grayscale: #F2F2F3;
    --color-grayscale-white: #FFFFFF;


    --color-warning-100: #A64F21;
    --color-danger-100: #9F1B1F;
    --color-primary-100: #00526C;
    --color-success-100: #086343;
}